// font
$base-font-size: 16px;
$sp-base-font-size: 24px;

// color
$font-color-dark-gray: #343434;

$font-color-orange: #ec5c15;
$border-color-orange: #ec5c15;

$font-color-red: #ff0b3f;
$border-color-red: #ff0b3f;

$font-color-light-blue: #2a82ee;
$border-color-light-blue: #2a82ee;

$font-color-dark-blue: #1b549b;
$border-color-dark-blue: #1b549b;

$font-color-green: #00946c;
$border-color-green: #00946c;

$nav-font-color-gray: #2b2b2b;

// width
$design-width: 1024px;
$sp-design-width: 640px;

// path
$image-path: "../images/";